<%- include('../partials/header') %>
<body>

    <div class="wrapper">
        <div class="nav">
            <div class="nav-items">
                <a href="/">Adele Adkins</a>
                <a href="wilson">Russell Wilson</a>
                <a href="ciara">Ciara Wilson</a>
                <a href="rock">The Rock</a>
                <a href="ed">Ed Sheeran</a>


            </div>
        </div>

        <div class="main-content">
            <div class="left">
                <div class="image-container">
                    <img src="/img/ciara.jpg" alt="">
                </div>
                <div class="about">
                    <h1><%=name%></h1>
                    <p>
                        Ciara Princess Wilson born October 25, 1985 is an
                        American singer, songwriter, and dancer.
                        In 2004, Ciara released her debut studio album, Goodies, which spawned four singles: "Goodies"
                        (featuring Petey Pablo), "1, 2 Step" (featuring Missy Elliott), "Oh" and
                        "And I". "Goodies" topped the Billboard Hot 100, as well as the UK Singles Chart, while "1, 2
                        Step" and "Oh" both peaked at two on the Hot 100 and charted within the top five in the UK.
                    </p>
                </div>

            </div>


            <div class="right">
                <div class="section-one sections">
                    <div class="card">
                        <div class="header">
                            <h2>Early life and Education</h2>
                        </div>

                        <div class="details">
                            <p>
                                Ciara Princess Harris was born in Fort Hood, Texas, on October 25, 1985,
                                the only child of Jackie and Carlton Clay Harris. An army brat, she grew up in
                                Georgia, New York, Utah, California, Arizona, and Nevada. She was named after the
                                Revlon fragrance Ciara which was introduced in 1973. During her teens, Ciara and her
                                family settled in Atlanta, Georgia.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-two sections">
                    <div class="card">
                        <div class="header">
                            <h2><%=headingOne%></h2>
                        </div>

                        <div class="details">
                            <p>
                                In 2013, Ciara became engaged to rapper Future, with whom she has a son, Future Zahir
                                Wilburn, born on May 19, 2014. She ended their engagement in August 2014 due to his
                                infidelity. Ciara began dating Seattle Seahawks quarterback Russell Wilson in early
                                2015. They announced their engagement on March 11, 2016, and were married on
                                July 6 at Peckforton Castle in Cheshire, England. Their first child, a daughter, Sienna
                                Princess Wilson, was born on
                                April 28, 2017, and their second child, a son, Win Harrison Wilson, was born on
                                July 23, 2020.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-three sections">
                    <div class="card">
                        <div class="header">
                            <h2><%=headingThree%></h2>
                        </div>

                        <div class="details">
                            <p>
                                Ciara is known for her often "breathy soprano" vocals. Allison Stewart of The
                                Washington Post commented that she has a "reedy, agile voice, capable of conveying the
                                only three emotions (sexy, sassy, sad) an R&B singer needs".
                                Randall Roberts of the Los Angeles Times said that she "has been the most synthetic of
                                the R&B divas over the past decade, an electro-leaning vocalist whose instrumental
                                palate has heavily favored stark 808 beats, sassy and seductive vocal lines, and, often,
                                weird, futuristic Gary Numan-esque bleeps woven through."
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-four sections">
                    <div class="card">
                        <div class="header">
                            <h2><%=headingFour%></h2>
                        </div>

                        <div class="details">
                            <p>
                                Ciara said that watching Destiny's Child and Janet Jackson perform on television
                                inspired her to pursue a career in music,[13] and cites Jackson and her brother Michael
                                as her biggest inspirations.[116] Ciara considered herself to reach "a career pinnacle"
                                when she featured on Janet Jackson's 2008 album Discipline. Ciara spoke of Michael
                                Jackson's legacy, "Whenever someone asks me who inspires me to do what I do, I always
                                say Michael.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>