<%- include('../partials/header') %>
<body>

    <div class="wrapper">
        <div class="nav">
            <div class="nav-items">
                <a href="/">Adele Adkins</a>
                <a href="wilson">Russel Wilson</a>
                <a href="ciara">Ciara Wilson</a>
                <a href="">The Rock</a>
                <a href="">Ed Sheeran</a>


            </div>
        </div>

        <div class="main-content">
            <div class="left">
                <div class="image-container">
                    <img src="img/adele.jpg" alt="">
                </div>
                <div class="about">
                    <h1><%=name%></h1>
                    <p>
                        is an English singer and songwriter. After graduating in arts from the BRIT School in 2006,
                        Adele signed a record deal with XL Recordings. Her debut album, 19, was released in 2008 and
                        spawned the UK top-five singles "Chasing Pavements" and "Make You Feel My Love". The album was
                        certified 8× platinum in the UK and triple platinum in the US. Adele was honoured with the Brit
                        Award for Rising Star as well as the Grammy Award for Best New Artist.
                    </p>
                </div>

            </div>


            <div class="right">
                <div class="section-one sections">
                    <div class="card">
                        <div class="header">
                            <h2><%=headingOne%></h2>
                        </div>

                        <div class="details">
                            <p>
                                Adele Laurie Blue Adkins was born on 5 May 1988 in the Tottenham district of London,
                                to an English mother, Penny Adkins, and a Welsh father, Marc Evans.[4] Evans left when
                                Adele was 2, and she was brought up by her mother. She began singing at age 4 and
                                asserts that she became obsessed with voices. In 1997, 9-year-old Adele and her
                                mother, who by then had found work as a furniture maker and an adult-learning activities
                                organiser, relocated to Brighton on the south coast of England.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-two sections">
                    <div class="card">
                        <div class="header">
                            <h2><%=headingTwo%></h2>
                        </div>

                        <div class="details">
                            <p>
                                Four months after graduation, Adele published two songs on the fourth issue of the
                                online arts publication PlatformsMagazine.com. She had recorded a three-song demo
                                for a class project and given it to a friend. The friend posted the demo on Myspace,
                                where it became very successful and led to a phone call from Richard Russell, boss of
                                the music label XL Recordings. She doubted if the offer was real because the only record
                                company she knew was Virgin Records, and she took a friend with her to the
                                meeting.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-three sections">
                    <div class="card">
                        <div class="header">
                            <h2><%=headingThree%></h2>
                        </div>

                        <div class="details">
                            <p>
                                In 2011, Adele began a relationship with charity entrepreneur Simon Konecki. Their
                                son was born on 19 October 2012. On the topic of becoming a parent, Adele said she
                                "felt like I was truly living. I had a purpose, where before I didn't". Adele and
                                Konecki brought a privacy case against a UK-based photo agency that published intrusive
                                paparazzi images of their son taken during family outings in 2013. Lawyers working
                                on their behalf accepted damages from the company in July 2014. Adele has also
                                opened up about suffering from postnatal depression, anxiety, and panic
                                attacks.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-four sections">
                    <div class="card">
                        <div class="header">
                            <h2><%=headingFour%></h2>
                        </div>

                        <div class="details">
                            <p>
                                Adele's debut album, 19, is of the soul genre, with lyrics addressing heartbreak and
                                relationship. Her success occurred simultaneously with several other British female
                                soul singers, with the British press dubbing her a new Amy Winehouse. This was
                                described as a third British Musical Invasion of the US. However, Adele called the
                                comparisons between her and other female soul singers lazy, noting "we're a gender, not
                                a genre". AllMusic wrote that "Adele is simply too magical to compare her
                                to anyone."
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>
