<%- include('../partials/header') %>
<body>

    <div class="wrapper">
        <div class="nav">
            <div class="nav-items">
                <a href="/">Adele Adkins</a>
                <a href="wilson">Russell Wilson</a>
                <a href="ciara">Ciara Wilson</a>
                <a href="rock">The Rock</a>
                <a href="ed">Ed Sheeran</a>


            </div>
        </div>

        <div class="main-content">
            <div class="left">
                <div class="image-container">
                    <img src="/img/rock.jpg" alt="">
                </div>
                <div class="about">
                    <h1>
                        <%=name%>
                    </h1>
                    <p>
                        Dwayne Douglas Johnson (born May 2, 1972), also known by his ring name The Rock, is an
                        American actor, businessman, and former professional wrestler. Widely regarded as one of
                        the greatest and most influential professional wrestlers of all time, Johnson wrestled for
                        WWF/E for eight years prior to pursuing an acting career and during his wrestling career, he was
                        integral to the development and success of the WWE during the Attitude Era, an industry boom
                        period in the late 1990s and early 2000s. 
                    </p>
                </div>

            </div>


            <div class="right">
                <div class="section-one sections">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <%=headingOne%>
                            </h2>
                        </div>

                        <div class="details">
                            <p>
                                Johnson was born in Hayward, California[29] on May 2, 1972, the son of Ata Johnson
                                (née Maivia; born 1948) and former professional wrestler Rocky Johnson (born Wayde
                                Douglas Bowles; 1944–2020). Growing up, Johnson lived briefly in Grey Lynn in
                                Auckland with his mother's family, where he played rugby and attended Richmond
                                Road Primary School before returning to the U.S.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-two sections">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <%=headingTwo%>
                            </h2>
                        </div>

                        <div class="details">
                            <p>
                                As a college student and football player at the University of Miami, Johnson first met
                                fellow University of Miami student Dany Garcia in the early 1990s. The couple married on
                                May 3, 1997. She is a businesswoman, IFBB professional bodybuilder, and producer.
                                Their daughter, Simone, was born on August 14, 2001.
                                On June 1, 2007, Johnson and Garcia announced they were separating amicably, and
                                their divorce was finalized in May 2008.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-three sections">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <%=headingThree%>
                            </h2>
                        </div>

                        <div class="details">
                            <p>
                                Johnson quickly rose to global prominence, aided by a gimmick he employed as a
                                charismatic trash-talker. The role ushered in the Attitude Era in professional
                                wrestling, which contributed to the industry's boom period in the late 1990s and early
                                2000s. Johnson left WWE in 2004 and returned in 2011 as a part-time performer until
                                2013, making sporadic appearances until retiring in 2019.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-four sections">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <%=headingFour%>
                            </h2>
                        </div>

                        <div class="details">
                            <p>
                                Johnson entered Hollywood and the film industry, becoming a star initially through his
                                wrestling popularity and noted work ethic. Over his acting career, he became one of the
                                highest paid and most successful actors in Hollywood.
                                He began his acting career on television while wrestling. In his first television acting
                                job, in 1999, he played his own father in an episode of That '70s Show called "That
                                Wrestling Show".
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>
