<%- include('../partials/header') %>
<body>

    <div class="wrapper">
        <div class="nav">
            <div class="nav-items">
                <a href="/">Adele Adkins</a>
                <a href="wilson">Russel Wilson</a>
                <a href="ciara">Ciara Wilson</a>
                <a href="">The Rock</a>
                <a href="">Ed Sheeran</a>


            </div>
        </div>

        <div class="main-content">
            <div class="left">
                <div class="image-container">
                    <img src="/img/wilsons.jpg" alt="">
                </div>
                <div class="about">
                    <h1><%=name%></h1>
                    <p>
                        Russell Carrington Wilson (born November 29, 1988) is an American football quarterback for
                        the Denver Broncos of the National Football League (NFL).
                        Wilson has been named to nine Pro Bowls and helped lead the Seahawks to two consecutive Super
                        Bowls, winning Super Bowl XLVIII over the Broncos. He holds the record for most wins by an
                        NFL quarterback through nine seasons.
                    </p>
                </div>

            </div>


            <div class="right">
                <div class="section-one sections">
                    <div class="card">
                        <div class="header">
                            <h2><%=headingOne%></h2>
                        </div>

                        <div class="details">
                            <p>
                                Wilson was born at The Christ Hospital in Cincinnati, and grew up in Richmond,
                                Virginia. His parents are Harrison Benjamin Wilson III, a lawyer, and Tammy Wilson (née
                                Turner), a nurse director. He has an older brother, Harrison IV, and a
                                younger sister, Anna. Wilson started playing football with his father and brother at
                                the age of four, and played his first organized game for the Tuckahoe Tomahawks youth
                                football team in sixth grade.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-two sections">
                    <div class="card">
                        <div class="header">
                            <h2><%=headingTwo%></h2>
                        </div>

                        <div class="details">
                            <p>
                                In the 2012 Rose Bowl against the Oregon Ducks on January 2, 2012, Wilson had 19 pass
                                completions on 25 attempts for 296 yards, 18 rushing yards, and three touchdowns (two
                                passing, one rushing) as the Badgers lost by a score of 38–45.[77] Wilson finished the
                                season with 33 passing touchdowns, which set the single season record at Wisconsin and
                                was the second-most in Big Ten history behind Drew Brees during the 1998 season at
                                Purdue (39). Wilson also set the single season FBS record for passing efficiency
                                (191.8).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-three sections">
                    <div class="card">
                        <div class="header">
                            <h2><%=headingThree%></h2>
                        </div>

                        <div class="details">
                            <p>
                                On September 9, 2012, Wilson made his regular season debut in a 20–16 road loss to the
                                Arizona Cardinals. He had 18 completions on 34 passing attempts for 153 yards, one
                                passing touchdown, and one interception.[94] In the third regular season game on Monday
                                night, the Seahawks won 14–12 over the Green Bay Packers on a controversial Hail Mary
                                touchdown pass to Golden Tate.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-four sections">
                    <div class="card">
                        <div class="header">
                            <h2><%=headingFour%></h2>
                        </div>

                        <div class="details">
                            <p>
                                Wilson is an active volunteer in the Seattle community. During the NFL season, Wilson
                                makes weekly visits on his days off to the Seattle Children's Hospital, and has also
                                visited soldiers at Joint Base Lewis-McChord. In the offseason, Wilson hosts
                                the Russell Wilson Passing Academy, a youth football camp, in several cities. In 2012,
                                proceeds from the camp went to the Charles Ray III Diabetes Association, for which
                                Wilson is the National Ambassador. 
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>

